body {
  font-family: 'Open Sans', sans-serif;
  color: #404042;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: #c16363;
  color: #f2f2f2;
  height: 500px;
  h2 {
    text-transform: uppercase;
  }
  .heading-overlay {
    background: #000;
    opacity: 0.8;
    width: 100%;
    text-align: center;
    height: 200px;
  }
}

header:after {
  content: '';
  background: url('https://images.unsplash.com/photo-1449168013943-3a15804bb41c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=1958d4bfb59a246c6092ff0daabd284b');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.heading {
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
}

.form-horizontal {
  width: 700px;
  margin: 10px auto 0 auto;
  padding: 5px;
  .form-group > input, span {
    margin: 10px 0;
  }
  .form-group > input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .btn-core {
    background: #5b636f;
    border-color: #5b636f;
    color: #fff;
  }
  .btn-core:hover {
    background: #707883;
    color: #fff;
  }
}

.results {
  .list-group-item {
    list-style: none
  }
}

.container {
  background: #f9f9f9;
}

.icon {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

.content {
  padding-bottom: 50px;
}

.footer {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #5b636f;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 775px) {
  .form-horizontal {
    width: 300px;
  }
}
